*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg,rgb(12, 169, 12),rgb(91, 162, 216),rgb(253, 91, 199));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    gap: 4rem;
}
.welcomeH1{
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    -webkit-text-stroke: 1.2px rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.js{
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(239, 239, 42);
}
.container{
    width: 600px;
    height: 450px;
    padding: 2rem;
    border-radius: .5rem;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(2px);
    border-top: 2px solid rgba(255,255,255,.3);
    border-left: 2px solid rgba(255,255,255,.2);
    box-shadow: 2px 1px 3px rgba(0,0,0,.2);
    color: white;
}
.game{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* display: none; */

}
.game .options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
    color: rgb(8, 8, 8);
}
.game .options .option label{
    cursor: pointer;
    transition: all .3s;

}
.game .options .option input[type="radio"]:checked ~ label,.game .options .option label:hover{
    color: white;
}
.game .options .option label:active{
    color: rgb(157, 157, 157);

}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    flex-direction:column;
    display: none;
}
.results h1{
    font-size: 3rem;
}
.mx-1{
    margin: 0 .8rem;

}
.results .score{
    padding: .3rem .8rem; 
    border-radius: .3rem;
    background: white;
    color: black;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.correct{
    color: rgb(52, 237, 19);

}
.wrong{
    color: rgb(215, 8, 84);
    margin-top: -1rem;
}
.playagain{
    width: 53%;
    background: none;
    padding: 0.5rem;
    border: none;
    background: #33ebdd;
    font-size: 1.1rem;
    color: aliceblue;
    border-radius: 5rem;
    font-weight: 600;
    border: 1px solid #6ebbbb;
    transition: all .4s;
    cursor: pointer;
}
.playagain:hover{
    width: 60%;
    letter-spacing: .05em;
}
.submit{
    background: rgb(255, 46, 46);
    padding: 0.5rem ;
    position: absolute;
    bottom: 0.5rem;
    width: 90%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    /* border: 1px solid rgb(238, 22, 22); */
    transition: all .3s;
    
    
}
.submit:hover{
    background: rgb(214, 14, 14);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    
}

@media (max-width:750px){
    html{
        font-size: 85%;
    }
    .container{
        width: 95%;
    }
    .welcomeH1{
        font-size: 2.6rem;
    }
}